name: build and test

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node: [20, 22, 24]

    steps:
      - name: Clone the GitHub repo on the runners
        uses: actions/checkout@v4
      - name: Use Node.js matrix
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node }}
          cache: "npm"
      - name: Run program dependencies
        run: npm install
      - name: Run the app
        run: npm run start&
      - name: Run integration tests
        run: npm test
